<% include ../partials/header %> 

     <header class="jumbotron">
         <div class="container">
             <h1><span class="glyphicon glyphicon-king"></span> Welcome To Beard Me!</h1>
             <p>Only two kinds of people dont have beards--women and children</p>
             <p>
                <a class="btn btn-primary btn-lg" href="/beards/new">Add New Beard Post</a>
             </p>
              <p>
              <form action="/beards" method="GET" class="form-inline" id="beard-search">
                <div class="form-group">
                  <input type="text" name="search" placeholder="Beard search..." class="form-control">
                </div>
              </form>
             </p>
         </div>
     </header>
     
     <div class="row text-center flex-wrap" id="beard-grid">
        <% beards.forEach(function(beard){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                   <img src="<%= beard.image %>">
                   <div class="caption">
                       <h4><%= beard.name %></h4>
                   </div>
                   <p>
                       <a href="/beards/<%= beard._id %>" class="btn btn-primary">More Info</a>
                   </p>
                </div>
            </div>
        <% }); %>
    </div>

<% include ../partials/footer %>
