<% include ../partials/header %>
    <div class="row">
        <h1 style="text-align: center">Create a New Beard Post</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/beards" method="POST">
                <div class="form-group">
                    <label for="name">Give your post a name</label>
                    <input class="form-control" type="text" name="name" id="name" placeholder="Mr. Gray">
                </div>
                <div class="form-group">
                    <label for="image">Image Url</label>
                    <input class="form-control" type="text" name="image" id="image" placeholder="image url" required>
                    
                </div>
                
                <div class="form-group">
                    <label for="description">Description</label>
                    <input class="form-control" type="text" name="description" id="description" placeholder="fisherman style beard blah blah blah.">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/beards">Go Back</a>
        </div>
    </div>
<% include ../partials/footer %>

